<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title><%= title %> | Node Js Chat Application </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">