
<% include ../partials/header %>
<main>
	<div class="row">
		<div class="col-sm-8">    
			<div class="jumbotron">
				<h2>Contact Page</h2>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>

		<div class="col-sm-4">        
			<div class="well">
				<form action="" method="post" accept-charset="utf-8">
					<div class="row">
						<div class="col-md-12">
							<h3>Contact US</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">	
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" required="">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" required="">
							</div>
							<div class="form-group">
								<label for="comment">Comment </label>
								<textarea class="form-control" id="comment"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success pull-right">Send</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</main>

<% include ../partials/footer %>