<% include ../partials/header %>


	<main>

		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center mb-5"></h2>
				<div class="row">
					<div class="col-md-6 mx-auto">
						<div class="card border-secondary">
							<div class="card-header">
								<h5 class="mb-0 my-2 text-center">Register</h5>
							</div>
							<div class="card-body">
								<form class="form" role="form" method="POST" autocomplete="off" id="frm_register">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="firstname">First Name</label>
												<input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="lastname">Last Name</label>
												<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="gender">Gender</label>
												<select name="gender" class="form-control" id="gender">
													<option value="0">Male</option>
													<option value="0">Female</option>
													<option value="0">Other</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<label for="mobile">Mobile</label>
											<input type="text" class="form-control" name="mobile" id="mobile" placeholder="e.g. +91 8000260025">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="email">Email</label>
												<input type="email" class="form-control" name="email" id="email" placeholder="vipul@gmail.com" required="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="password">Password</label>
												<input type="password" class="form-control" name="password" id="password" placeholder="Password" title="At least 6 characters with letters and numbers"
												    required="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="cpassword">Confirm Password</label>
												<input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm Password" title="At least 6 characters with letters and numbers"
												    required="">
											</div>
										</div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-info btn-md float-right">Register</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<% include ../partials/footer %>